home_work/
venv/
.venv/
.DS_Store
data/processed/*.parquet
*duckdb*
*.duckdb  
*.db  
*.sqlite  
*.duckdb-wal
# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/
# coverage (if using pytest-cov)
.coverage
htmlcov/