home_work/
venv/
.venv/
.DS_Store
data/processed/
output/
*duckdb*
*.duckdb  
*.db  
*.sqlite  
*.duckdb-wal
# Python compiled files (anywhere in the tree)
**/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/
# coverage (if using pytest-cov)
.coverage
htmlcov/